html { 
  background: url(../img/painting-491849.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.intro-text-wrapper {
  position: fixed;
  bottom: 52px;
  width: 100%;
  background: rgba(128,128,128,0.5);
  padding: 5px 0;
}

.mail-form {
  display: inline-block;
}

.mail-form input {
  padding-left: 5px;
}

.mail-form .btn-primary {
  left: -30px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Raleway";
}

h2 {
  margin-top:     10px;
  margin-bottom:  15px;
  text-align: center;
  padding-left: 50px; 
  font-size: 1.3em;
  font-family: "Raleway";
}